---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { db, Comment } from 'astro:db';

const comments = await db.select().from(Comment);
---
<h2>Comments</h2>

{
  comments.map(({ author, content }) => (
    <article>
      <p>Author: {author}</p>
      <p>{content}</p>
    </article>
  ))
}